export("add.tree.matrix")
export("block.bootstrap")
export("get.matrix")
export("nst.b")
export("nst.p_inventory")
export("plot.scenario.simulation")
export("plot.scenario.tree")
export("print.scenario.simulation")
export("print.scenario.tree")
export("return2price")
