export("add.tree.matrix")
export("block.bootstrap")
export("fl.b")
export("get.matrix")
export("node.approx")
export("node.approx.kmeans")
export("nst.b")
export("nst.p_inventory")
export("pick.stage")
export("plot.scenario.simulation")
export("plot.scenario.tree")
export("print.scenario.simulation")
export("print.scenario.tree")
export("return2price")
export("scenario.simulation")
export("scenario.tree")
export("sm.f")
